<h1>Edit Note</h1>
<%= form_tag '/admin/users/update_note' %>
    <%= label_tag "Note Text" %>
    <%= text_area_tag :note_text, @note.note_text %>
    <%= hidden_field_tag :spree_user_id, @note.spree_user_id.to_s %>
    <%= hidden_field_tag :note_id, @note.id.to_s %>
    <%= submit_tag "Save Note" %>