<h1>Saved Signs</h1>
<form>
  <label for="taxonomy_id">Material Type</label>
  <select id="taxonomy_id" name="taxonomy_id" onchange="getTaxons();">
    <option value="">Please Select</option>
    <% Spree::Taxonomy.all.each do |m| %>
        <option value="<%= m.id %>" <%= params["taxonomy_id"] == m.id.to_s ? "selected" : "" %>><%= m.name %></option>
    <% end %>
  </select>

  <div id="select_taxon">

  </div>

  <div id="search_container">
    <label for="query">Text Search</label>
    <%= text_field_tag "query", params["query"] %>
  </div>

  <div id="submit_container">
    <%= submit_tag "go" %>
  </div>
</form>


<div id="sign_results">
  <% if @signs.count > 0 %>
      <table class="index">
        <tbody>
        <tr>
          <th>Thumb</th>
          <th>View SVG</th>
          <th>Name</th>
          <th>Description</th>
          <th>Base product</th>
          <th>User Deleted</th>
          <th>Options</th>
        </tr>

        <% @signs.each do |s| %>
            <% unless s.deleted_by_admin? %>
                <tr>
                  <td>
                    <% if s.image_file_name %>
                        <%= image_tag s.image.url(:thumb) %>
                    <% else %>
                        no thumb
                    <% end %>
                  </td>
                  <td>
                    <a href="/custom_sign/get_sign/<%= s.id.to_s %>.svg" target="_blank">Get SVG</a>
                  </td>
                  <td>
                    <%= s.name.blank? ? "unnamed" : s.name %>
                  </td>
                  <td>
                    <%= s.description %>
                  </td>
                  <td>
                    <%= get_spree_product(s.spree_product_id).name %>
                  </td>
                  <td>
                    <%= s.deleted_by_user ? "yes" : "no" %>
                  </td>
                  <td>
                    <a href="/admin/sign_data/<%= s.id %>"> Details</a>
                  </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
      <% else %>
  <h2>Sorry! No customized signs for your search</h2>
  <% end %>
</div>


<script language="javascript" type="text/javascript">
    $(document).ready(function () {
//        $("#taxonomy_id").change(function () {
//            var taxonomy_id = $("#taxonomy_id").val();
//            $.ajax({
//                url: "/admin/sign_data/get_taxons_for_taxonomy",
//                data: { taxonomy_id: taxonomy_id }
//            }).done(function (result) {
//                        $("#select_product_list").html(result.list);
//                        $("#sign_results").html(result.results);
//                    });
//        });
        getTaxons();
    });

    function delete_sign(id) {
        var confirmed = confirm('Are you sure you want to delete this sign?');
        if (confirmed == true) {
            $.ajax({
                url: "/admin/sign_data/delete_sign",
                data: { id: id }
            }).done(function (result) {
                        //do nothing
                    });
            var material_id = $("#material").val();
            $.ajax({
                url: "/admin/sign_data/filter_results_ajax",
                data: { material: material_id }
            }).done(function (result) {
                        $("#sign_results").html(result.results);
                    });
        }
    }

    function getTaxons() {
        var taxonomy_id = $("#taxonomy_id").val();
        var taxon_id = '<%= params["taxon_id"] %>';

        var data = { taxonomy_id: taxonomy_id};

        if (taxon_id != '') {
            data.taxon_id = taxon_id;
        }

        if (taxonomy_id != "") {
            $.ajax({
                url: "/admin/sign_data/get_taxons_for_taxonomy",
                data: data
            }).done(function (result) {
                        //$("#select_product_list").html(result.list);
                        $("#select_taxon").empty();
                        $("#select_taxon").html(result);
                    });
        }
    }
</script>