<% content_for :stylesheets do %>
    <% stylesheet_link_tag 'home' %>
<% end %>
<% content_for :javascripts do %>
    <% javascript_include_tag('home', 'jquery.cycle.all', 'jquery.carouFredSel-5.6.4-packed', 'jquery.easing.1.3') %>
<% end %>
<!--Start top slider area-->
<div id="heroContainer" class="loading">
  <div id="heroSlider">
    <% get_home_page_slides.each do |slide| %>
        <div class="heroSlide" style="background-image: url('<%= slide.background.url %>');">
          <% if slide.show_text %>
              <h2><%= slide.banner_text %></h2>
          <% end %>
        </div>
    <% end %>
  </div>
  <div id="heroControls">
    <div class="arrowControl prev">
      <div class="arrow"></div>
    </div>
    <div class="arrowControl next">
      <div class="arrow"></div>
    </div>
  </div>
  <a href="/t/material" id="createYourSignNow">
    Create your sign now!
  </a>

  <div class="upperShadow"></div>
</div>
<div class="threeSteps">
  <div class="container_12">
    <div class="grid_4 stepOne">
      <div class="radialGradient"></div>
      <div class="icon"></div>
      <% if @page.content_for(:choose_a_material) %>
          <%= raw (@page.content_for(:choose_a_material)) %>
      <% end %>
      <div class="arrow"></div>
    </div>
    <div class="grid_4 stepTwo">
      <div class="radialGradient"></div>
      <div class="icon"></div>
      <% if @page.content_for(:design_your_sign) %>
          <%= raw (@page.content_for(:design_your_sign)) %>
      <% end %>
      <div class="arrow"></div>
    </div>
    <div class="grid_4 stepThree">
      <div class="radialGradient"></div>
      <div class="icon"></div>
      <% if @page.content_for(:we_deliver_it) %>
          <%= raw (@page.content_for(:we_deliver_it)) %>
      <% end %>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="howArePeopleUsingSignApp">
  <h3><span class="downArrow"></span>How are people using SignApp?<span class="downArrow"></span></h3>

  <a href="/how-does-personalisation-works" class="howDoesCustomisationWork">How does Personalisation work?</a>

  <div class="signCarousel" id="signCarousel">

    <% get_featured_product_list.each do |p| %>
        <div class="imageTile">
          <%=link_to product_image(p, :itemprop => "image"), spree.product_url(p) %>
          <div class="infoPanel"><p><%= p.name %></p>
            <a href="<%= spree.product_url(p) %>" class="button red">Personalise this sign</a>
          </div>
        </div>
    <% end %>

  </div>
  <div class="arrowControl prev">
    <div class="arrow"></div>
  </div>
  <div class="arrowControl next">
    <div class="arrow"></div>
  </div>
  <div class="upperShadow"></div>
</div>
<div class="clearfix"></div>
<div class="featurePanels">
  <div class="container_12">
    <div class="grid_4 panelOne">
      <div class="radialGradient"></div>
      <% if @page.content_for(:box1) %>
          <%= raw (@page.content_for(:box1)) %>
      <% end %>
      <div class="iconContainer">
        <div class="icon"></div>
        <div class="icon hover"></div>
      </div>
      <div class="dottedLine"></div>
    </div>
    <div class="grid_4 panelTwo">
      <div class="radialGradient"></div>
      <% if @page.content_for(:box2) %>
          <%= raw (@page.content_for(:box2)) %>
      <% end %>
      <div class="iconContainer">
        <div class="icon"></div>
        <div class="icon hover"></div>
      </div>
      <div class="dottedLine"></div>
    </div>
    <div class="grid_4 panelThree">
      <div class="radialGradient"></div>
      <% if @page.content_for(:box3) %>
          <%= raw (@page.content_for(:box3)) %>
      <% end %>
    </div>
  </div>
  <div class="upperShadow"></div>
  <div class="clearfix"></div>
</div>

