<select id="sizeSelectChild" name="sizeSelectChild">
  <% @sign_sizes.each do |size| %>
      <option value="<%= size[:width] %>|<%= size[:height] %>|<%= size[:child_product_id] %>">Size <%= size[:width] %> x <%= size[:height] %>mm</option>
  <% end %>
</select>