<div class="genericlayout blueBackground contact">
  <div class="pageTitle checkout">
    <h1><%#= t(:shopping_cart) %> Basket</h1>
  </div>
  <div class="container_12">
    <div class="container_960 checkout-layout">
      <div class="grid_10 basketLeft">
        <% @body_id = 'cart' %>
        <% if @order.line_items.empty? %>
            <div data-hook="empty_cart">
              <p><%= t(:your_cart_is_empty) %></p>

              <p><%= link_to t(:continue_shopping), products_path, :class => 'button continue' %></p>
            </div>
        <% else %>
            <div data-hook="outside_cart_form" id="outside_cart_form">
              <%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
                  <div data-hook="inside_cart_form">
                    <div data-hook="cart_items">
                      <%= render :partial => 'form', :locals => {:order_form => order_form} %>
                    </div>
                    <div data-hook="cart_buttons">
                    </div>
                    <div id="subtotal" data-hook class="columns sixteen alpha omega">
                      <h5><%= t(:subtotal) %> </h5>
                      <span class="order-total"><%= @order.display_total %></span>

                      <div class="clearfix"></div>
                    </div>

                    <div class="links columns sixteen alpha omega">
                          <%= link_to t(:continue_shopping), "/t/material", :class => 'continue button blue' %>
                      <%= button_tag :class => 'button blue', :id => 'update-button' do %>
                          <span class="direction-arrow first"></span>
                          Update Basket
                      <% end %>
                      <%= link_to 'Proceed To Checkout', checkout_state_path(@order.checkout_steps.first), :class => 'button red', :id => 'checkout-link' %>

                    </div>
                  </div>
              <% end %>
            </div>
            <div id="empty-cart" data-hook>
              <%= form_tag empty_cart_path, :method => :put do %>
                  <p id="clear_cart_link" data-hook>
                    <%= submit_tag t(:empty_cart), :class => 'button cream' %>
                  </p>
              <% end %>
            </div>
        <% end %>
      </div>
      <div class="grid_2 basketRight">
        <h4>Policies</h4>
          <%= link_to 'Shopping Policy', '/shopping-policy' %>
         <%= link_to 'Legal Policy', '/legal-policy' %>
        <br>
        <br>
        <h4>Secure Payment</h4>
        <%= image_tag("payment-icons.png") %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>