<div class="row" data-hook="checkout_header">
  <h1 class="checkout_title" data-hook="checkout_title">
    Checkout & Payment
  </h1>
</div>

<fieldset id="payment" data-hook>
  <h5><%= t(:payment_information) %></h5>
  <div data-hook="checkout_payment_step">
    <% @order.available_payment_methods.each do |method| %>
    <p>
      <label>
        <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.payment_method %>
        <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
      </label>
    </p>
    <% end %>

    <ul id="payment-methods" data-hook>
      <% @order.available_payment_methods.each do |method| %>
        <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
          <fieldset>
            <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
          </fieldset>
        </li>
      <% end %>
    </ul>
    <br style="clear:both;" />
    <div data-hook="coupon_code_field" data-hook></div>
  </div>
</fieldset>

<br class="space" />

<div class="form-buttons" data-hook="buttons">

  <div class="payment-methods">
    <h4>We Accept:</h4>
    <div class="card visa"></div>
    <div class="card mastercard"></div>
    <div class="card maestro"></div>
    <div class="card paypal"></div>
    <div class="clearfix"></div>

  </div>

  <%= submit_tag 'Confirm & Continue', :class => 'continue button red' %>

</div>
