<% content_for :stylesheets do %>
    <% stylesheet_link_tag('store', 'select2') %>
<% end %>
<% content_for :head do %>
    <%= javascript_include_tag states_url(:format => :js) %>
<% end %>
<% content_for :javascripts do %>
    <%= javascript_include_tag('select2.min', 'store/cart') %>
<% end %>
<div class="genericlayout blueBackground contact">
  <div class="blueBackground checkout">

    <div class="progressBar">
      <div class="grid_4 billing"><span>Billing & Delivery</span></div>
      <div class="grid_4 shipping"><span>Shipping</span></div>
      <div class="grid_4 payment"><span>Checkout & Payment</span></div>
      <div class="clearfix"></div>
    </div>


    <div class="container_12">
      <div class="container_960 checkout-layout">
        <div id="checkout" data-hook>
          <%= render :partial => 'spree/shared/error_messages', :locals => {:target => @order} %>
          <div class="row checkout_content" data-hook="checkout_content">
            <div class="columns" data-hook="checkout_form_wrapper">
              <%= form_for @order, :url => update_checkout_path(@order.state), :html => {:id => "checkout_form_#{@order.state}"} do |form| %>
                  <%= render @order.state, :form => form %>
              <% end %>
            </div>
            <% if @order.state != 'confirm' %>
                <div id="checkout-summary" data-hook="checkout_summary_box" class="columns omega four">
                  <%#= render :partial => 'summary', :locals => {:order => @order} %>
                </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
