<div class="taxon" style="" data-hook="taxon">
  <div class="product-container">
    <div class="product-name">
      <%= link_to truncate(product.name, :length => 24), spree.product_url(product), :class => 'breadcrumbs' %>
    </div>
    <div class="clearfix"></div>
    <div class="product-image">
      <% if product.images.size > 0 %>
          <%= image_tag product.images[0].attachment.url(:small) %>
          <div class="imageOverlay">
            <p><%= truncate(product.description, :length => 300) %></p>
            <%= link_to '', spree.product_url(product) %>
          </div>
      <% else %>
          <a href="<%=spree.product_url(product) %>"><img action="/t/material/wood" alt="Default_taxon" src="/assets/noimage/default_taxon.png"></a>
          <div class="imageOverlay">
            <p><%= truncate(product.description, :length => 300) %></p>
            <%= link_to '', spree.product_url(product) %>
          </div>
      <% end %>
    </div>

    <div class="materialFeatures">
      <div class="feature weatherProof" title="Weather Proof"></div>
      <div class="feature drillable" title="Drillable"></div>
      <div class="feature fullColourPrint" title="Full Colour Print"></div>
    </div>
  </div>

  <%= link_to "Choose " + truncate(product.name, :length => 20), spree.product_url(product), :class => 'choose-button', :itemprop => "name", :title => product.name %>
</div>