<div class="taxon" style="" data-hook="taxon">
  <div class="product-container">
    <div class="product-name">
      <%= link_to truncate(taxon.name, :length => 18), seo_url(taxon), :class => 'breadcrumbs' %>
    </div>
    <div class="clearfix"></div>
    <div class="product-image">
      <%= link_to image_tag taxon.icon(:normal), {:action => seo_url(taxon)} %>
      <div class="imageOverlay">
        <p><%= truncate(taxon.description, :length => 100) %></p>
        <%= link_to '', seo_url(taxon) %>
      </div>
    </div>
    <div class="materialFeatures">
      <div class="feature weatherProof" title="Weather Proof"></div>
      <div class="feature drillable" title="Drillable"></div>
      <div class="feature fullColourPrint" title="Full Colour Print"></div>
    </div>
  </div>
  <%= link_to "Choose " + truncate(taxon.name, :length => 20), seo_url(taxon), :class => 'choose-button', :itemprop => "name", :title => taxon.name %>
</div>

