<div class="grid_6">
  <div class="log-in-form-container floatRight">
    <%= form_for Refinery::User.new, :as => :refinery_user, :url => refinery_user_session_path do |f| %>
        <h2>Log in</h2>
        <section class="log-in-with-facebook">
          <%- Refinery::User.omniauth_providers.each do |provider| %>
              <%= link_to "Log in with #{provider.to_s.titleize}", omniauth_authorize_path("refinery_user", provider), :class => "log-in-with-facebook-button" %>
          <% end -%>

        </section>
        <section id="login_section">
          <h3>SignApp Account</h3>

          <div class="field">
            <%= label_tag "Your Email" %>
            <%= f.text_field(:login) %>
          </div>
          <div class="field">
            <%= label_tag "Your Password" %>
            <%= f.password_field(:password) %>
          </div>
          <div class="field">
            <%= button_tag "Log In", :class => "floatRight" %>
          </div>
          <div class="field">
            <%= link_to "Forgotten your password?", "#", :class => "forgotten-your-password", :onclick => "show_password_reminder_form();" %>
          </div>
          <%= hidden_field_tag :redirect, params[:redirect] %>
          <%= hidden_field_tag :member_login, true %>
          <div class="clearfix"></div>
        </section>
    <% end %>
    <section id="password_reminder_section">
      <div class="hidden">
        <%= form_for Refinery::User.new, :as => :member, :url => "/members/password" do |f| -%>
            <h3>Forgotten your password?</h3>

            <div class="field">
              <%= label_tag "Your Email" %>
              <%= f.text_field(:login) %>
              <%= button_tag "Send my reminder", :class => 'floatRight' %>
              <a href="/members/login" class="button red" style="line-height: 32px; height: 32px;">back to login</a>
            </div>
        <% end -%>
      </div>
    </section>
    <section id="password_reminder_thankyou">
      <div class="hidden">

        <h3>Forgotten your password?</h3>

        <div>
          <h3>Thanks.</h3>

          <p>Your reminder is on its way. Check your emails inbox, if you cant find it try the spam folder.</p>
        </div>

        <a href="/members/login" class="button red" style="line-height: 32px; height: 32px;">back to login</a>
      </div>
    </section>
  </div>
</div>
<div class="grid_6">
  <div class="log-in-form-container">
    <%= form_for Refinery::User.new, :as => :member, :url => members_path do |f| %>
        <h2>Create an Account</h2>
        <section>
          <h3>Lets get started!</h3>

          <div class="field">
            <%= label_tag "Your Email" %>
            <%= f.text_field :email, :class => 'required email' %>
          </div>
          <div class="field">
            <%= label_tag "Create a Password" %>
            <%= f.password_field :password, :class => 'required' %>
          </div>
          <div class="field">
            <%= label_tag "Confirm Your Password" %>
            <%= f.password_field :password_confirmation, :class => 'required' %>
          </div>
          <div class="field">
            <%= label_tag "First Name" %>
            <%= f.text_field :first_name %>
          </div>
          <div class="field">
            <%= label_tag "Last Name" %>
            <%= f.text_field :last_name %>
          </div>
          <div class="field"><%= button_tag "Create My Account", :class => "floatRight" %></div>
    <% end %>
    <div class="clearfix"></div>
    </section>
  </div>
</div>
<div class="clearfix"></div>
<script>


</script>
