<tr>
  <td><b><%= order.number %></b> </td>
  <td><%= Spree::Money.new order.total %></td>
  <td><%= order.created_at.strftime("%d %B %Y") %></td>
  <td><%= order.shipment_state.nil? ? order.payment_state : order.shipment_state %></td>
  <td><a href="/orders/<%= order.number %>" class="button">Details</a></td>
</tr>