<div class="saveOrderitem clearfix">
  <div class="image svg_data_viewbox">
    <%= image_tag s.image.url(:thumb) %>
  </div>
  <div class="signDetails">
    <h3><%= s.name %></h3>
    <% unless s.description.blank? %>
        <%= s.description %>
    <% end %>
   <p> Created on <%= s.created_at.strftime("%d %B %Y") %> - <b><%= s.price %></b> </p>
    <p>  <a href="/custom_sign/edit_sign?id=<%= s.id %>">Preview</a> | <a href="/orders/add_saved_sign_to_basket?id=<%= s.id %>">
    Add to Basket</a> | Post On Facebook | <a href="javascript:submit_delete_sign(<%= s.id %>)">Delete</a>
     </p>
  </div>
  <div class="editSign">
    <a href="/custom_sign/edit_sign?id=<%= s.id %>" class="button">EDIT</a>
  </div>
  <%= form_tag '/custom_sign/delete_saved_sign', :id => 'delete_sign_form' do -%>
        <input type="hidden" id="custom_sign_id" name="custom_sign_id" value="">
        <input type="hidden" id="user_id" name="user_id" value="<%= @current_refinery_user.id %>">
    <% end -%>
</div>
