<script language="javascript" type="text/javascript">
    function submitDeleteForm(graphic_id) {
        var conf = confirm("Are you sure?");
        if (conf == true) {
            $("#delete_form" + graphic_id).submit();
        }
    }
</script>

<a href="/admin/sign_shape/new">Add new shape</a>

<ul>
  <% @sign_base_shapes.each do |shape| %>
      <li>
        <h2><%= shape.name %></h2>
        <a href="/admin/sign_shape/<%= shape.id %>/edit" class="edit">Edit</a>
        &nbsp;
        <form action="/admin/sign_shape/<%= shape.id %>" method="post" id="delete_form<%= shape.id %>" name="delete_form<%= shape.id %>">
          <input type="hidden" value="delete" name="_method">
          <input type="hidden" id="graphic_id" name="graphic_id" value="<%= shape.id %>">
          <a href="javascript:submitDeleteForm(<%= shape.id %>)" class="delete">Delete</a></form>
      </li>
  <% end %>
</ul>