<div>
    <%= f.label :title, "Title" %><br />
    <%= f.text_field :title, :class => 'fullwidth title' %>
</div>
<div>
    <%= f.label :width, "Width (mm)" %><br />
    <%= f.text_field :width, :class => 'fullwidth title' %>
</div>
<div>
    <%= f.label :height, "Height (mm)" %><br />
    <%= f.text_field :height, :class => 'fullwidth title' %>
</div>