<h1>Edit Sign Size</h1>
<%= form_for @sign_size, :url => '/admin/sign_size/' + @sign_size.id.to_s, :method => :put, :html => { :multipart => true } do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div>
        <%= button t('actions.update') %>
        <%= t(:or) %> <%= link_to t('actions.cancel'), admin_sign_size_index_url %>
    </div>
<% end %>