<%= tab :overview, :route => :admin %>
<%= tab :orders, :payments, :creditcard_payments, :shipments, :creditcards, :return_authorizations %>
<%= tab :products , :option_types, :properties, :prototypes, :variants, :product_properties, :taxons %>
<%= tab :reports %>
<%= tab :configurations, :general_settings, :mail_methods, :tax_categories, :zones, :states, :payment_methods, :inventory_settings, :taxonomies, :shipping_methods, :trackers, :label => 'configuration' %>
<li class=""><a href="/admin/sign_graphics">Sign Graphics</a></li>
<li class=""><a href="/admin/sign_data">Custom Signs</a></li>
<li class=""><a href="/admin/sign_size">Sign Sizes</a></li>
