<header>
  <div class="container_12">
    <div class="grid_2">
      <%= link_to image_tag('header-logo.png', :width => 135, :height => 77, :alt => Refinery::Core.site_name), refinery.root_path, :class => "logo" %>
    </div>
    <div class="grid_10">
      <div class="floatRight">
        <ul class="subNav">
          <% if current_refinery_user %>
              <li>
                <%= link_to "Log Out", "/refinery/logout" %>
              </li>
          <% else %>
              <li><a href="/members/login">Log In / Register</a></li>
          <% end %>
        </ul>
        <%= render :partial => 'spree/shared/minicart' %>
      </div>
    </div>
    <div class="grid_10">
      <nav id="menu" class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="topLevel"><a href="#">Shop for Ideas</a>

            <div class="megaMenu">
              <% get_taxonomies.each do |taxonomy| %>
                  <ul>
                    <li>
                      <h4 class='taxonomy-root'><%= link_to taxonomy.name, seo_url(taxonomy.root) %></h4>
                    </li>
                    <%= taxons_tree(taxonomy.root, @taxon, Spree::Config[:max_level_in_taxons_menu] || 1) %>
                  </ul>
              <% end %>

              <div class="blueColumn">
                <h4>What's Hot</h4>
                <% unless get_product_list_for_menu.nil? %>
                    <div class="image"> <%= small_image(@product, :itemprop => "image") %></div>
                    <h5><%= get_product_list_for_menu.name %></h5>
                    <p><%= truncate(get_product_list_for_menu.description, :length => 80) %> </p>
                    <p class="price">From <span><%= get_product_list_for_menu.display_price %></span></p>
                    <a href="<%= '/products/' + get_product_list_for_menu.permalink %>" class="button red">Buy</a><a href="<%= '/products/' + get_product_list_for_menu.permalink %>" class="button">Customise</a>
                    <a href="/how-does-customisation-works" class="customisation">How does customisation work?</a>
                <% end %>
                <div class="clearfix"></div>
              </div>
            </div>
          </li>
          <li class="topLevel"><a href="/t/business-signs">Business Signs</a>
            <div class="megaMenu">
              <ul>
                <% get_taxonomies.where(:name => 'Business Signs').each do |taxonomy| %>
                    <% taxonomy.root.children.each do |taxon| %>
                        <li>  <%= link_to taxon.name, seo_url(taxon) %></li>
                    <% end %>
                <% end %>
              </ul>
            </div>
          </li>
          <li><a href="/choose_material" class="button createASign">Create a Sign</a></li>
        </ul>
      </nav>
      <div class="search">
        <%= render :partial => 'spree/shared/search' %>
      </div>
    </div>
  </div>
</header>