<table>
  <tbody id="line-items" data-hook>
  <% @order.line_items.each do |item| %>
      <tr data-hook="order_details_line_item_row">
        <td data-hook="order_item_description">
          <h4><%= item.quantity %> x <%= item.variant.product.name %></h4>
          <%= "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
        </td>
        <td data-hook="order_item_total" class="total"><span><%= Spree::Money.new(item.price * item.quantity) %></span>
        </td>
      </tr>
  <% end %>
  <% @order.adjustments.eligible.each do |adjustment| %>
      <% next if (adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
      <tr class="total">
        <td><strong><%= adjustment.label %></strong>
          <% if @order.has_step?("delivery") %>
              <div class="columns alpha four">
              <div class="delivery">
                  <%#= order.shipping_method.name %>
                </div>
              </div>
          <% end %>
        </td>
        <td class="total"><span><%= Spree::Money.new adjustment.amount %></span></td>
      </tr>
  <% end %>
  <tr class="total" id="subtotal-row" style="display: none;">
    <td><b><%= t(:subtotal) %>:</b></td>
    <td class="total"><span><%= Spree::Money.new @order.item_total %></span></td>
  </tr>
  <% if order.price_adjustment_totals.present? %>

      <% @order.price_adjustment_totals.keys.each do |key| %>
          <tr class="total">
            <td><strong><%= key %></strong></td>
            <td class="total"><span><%= Spree::Money.new @order.price_adjustment_totals[key] %></span></td>
          </tr>
      <% end %>
  <% end %>
  <tr class="total order-total">
    <td><b><%= t(:order_total) %>:</b></td>
    <td class="total"><span id="order_total"><%= Spree::Money.new @order.total %></span></td>
  </tr>
  </tbody>
</table>
<div class="row steps-data">
  <% if order.has_step?("address") %>
      <div class="grid_6">
        <h6><%= t(:shipping_address) %> <%= link_to "(#{t(:edit)})", checkout_state_path(:address) unless @order.completed? %></h6>
        <div class="address">
          <%= order.ship_address.firstname %> <%= order.ship_address.lastname %>
          <br/>
          <%= order.ship_address.address1 %>
          <br/>
          <% unless order.ship_address.address2.blank? %>
              <%= order.ship_address.address2 %>
              <br/>
          <% end %>
          <%= order.ship_address.city %>
          <br/>
          <%= order.ship_address.zipcode %>
          <br/>
          <%= Spree::Country.find(id = order.ship_address.country_id).name %>
        </div>
      </div>
      <div class="grid_6">
        <h6><%= t(:billing_address) %> <%= link_to "(#{t(:edit)})", checkout_state_path(:address) unless @order.completed? %></h6>
        <div class="address">
          <%= order.bill_address.firstname %> <%= order.bill_address.lastname %>
          <br/>
          <%= order.bill_address.address1 %>
          <br/>
          <% unless order.bill_address.address2.blank? %>
              <%= order.bill_address.address2 %>
              <br/>
          <% end %>
          <%= order.bill_address.city %>
          <br/>
          <%= order.bill_address.zipcode %>
          <br/>
          <%= Spree::Country.find(id = order.bill_address.country_id).name %>
        </div>
      </div>
  <% end %>
  <div style="display: none;">
    <h6><%= t(:payment_information) %> <%= link_to "(#{t(:edit)})", checkout_state_path(:payment) unless @order.completed? %></h6>
     <div class="payment-info">
      <% unless order.credit_cards.empty? %>
        <span class="cc-type">
          <%= image_tag "credit_cards/icons/#{order.credit_cards.first.cc_type}.png" %>
          <%= t(:ending_in) %> <%= order.credit_cards.first.last_digits %>
        </span>
          <br/>
        <span class="full-name">
          <%= order.credit_cards.first.first_name %>
          <%= order.credit_cards.first.last_name %>
        </span>
      <% end %>
    </div>
  </div>
</div>
