<div class="genericlayout blueBackground contact">

  <div class="pageTitle">
    <h1><%= page_title %></h1>
  </div>

  <div class="container_12">
    <div class="container_960">

      <div class="grid_7">
        <div class='inquiries'>

          <h2>Send Us a Message</h2>

          <div class="form_section">
            <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
                <%= render :partial => "/refinery/admin/error_messages",
                           :locals => {
                                   :object => @inquiry,
                                   :include_object_name => true
                           } %>
                <div class="field">
                  <%= f.required_label :name, :class => 'placeholder-fallback' %>
                  <%= f.text_field :name, :class => 'text', :required => 'required', :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
                </div>
                <div class="field">
                  <%= f.required_label :email, :class => 'placeholder-fallback' %>
                  <%= f.email_field :email, :class => 'text email', :required => 'required', :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
                </div>
                <div class="field">
                  <%= f.label :phone, :class => 'placeholder-fallback' %>
                  <%= f.text_field :phone, :class => 'text phone', :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
                </div>
                <div class='field message_field'>
                  <%= f.required_label :message, :class => 'placeholder-fallback' %>
                  <%= f.text_area :message, :rows => 8, :required => 'required', :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
                </div>
                <div class="actions">
                  <%= f.submit t('.send') %>
                  <div class="clearfix"></div>
                </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="grid_5">
        <div class="pageContent">
          <h2>Details</h2>

          <div class="companyInfomartion">
            <%= raw(@page.content_for(:body)) %>
          </div>

        </div>
      </div>

      <div class="clearfix"></div>

    </div>
  </div>
</div>

<%= javascript_include_tag 'jquery-validate' %>
<script>
  $(function() {
      $('#new_inquiry').validate({
          errorPlacement: function () {
              //element.addClass('error');
          },
          highlight: function (element) {
              $(element).addClass('error');
          },
          unhighlight: function (element) {
              $(element).removeClass('error');
          }
      });
  })
</script>
