<!DOCTYPE html>
<html>
<head>
  <title>SignApp</title>
  <%= stylesheet_link_tag "fluid_grid" %>
  <%= stylesheet_link_tag "generic" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "hoverIntent" %>
  <%= javascript_include_tag "modernizr" %>
  <%= javascript_include_tag "generic" %>
  <%= yield :javascripts %>
  <script type="text/javascript" src="//use.typekit.net/iqp1yxo.js"></script>
  <script type="text/javascript">try {
      Typekit.load();
  } catch (e) {
  }</script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "/refinery/header" %>
<!--<p class="flash notice"><%= notice %></p>-->
<!--<p class="flash alert"><%= alert %></p>-->
<%= yield %>
<div class="clearfix"></div>
<%= render "/refinery/footer" %>
</body>
</html>